<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>solution</key>
			<string>First ladies</string>
			<key>question</key>
			<array>
				<string>Dolly</string>
				<string>Jackie</string>
				<string>Eleanor</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Flightless birds</string>
			<key>question</key>
			<array>
				<string>Penguin</string>
				<string>Kiwi</string>
				<string>Ostrich</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Fractures</string>
			<key>question</key>
			<array>
				<string>Spiral</string>
				<string>Compound</string>
				<string>Greenstick</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Australian cities</string>
			<key>question</key>
			<array>
				<string>Brisbane</string>
				<string>Darwin</string>
				<string>Hobart</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Programming Languages</string>
			<key>question</key>
			<array>
				<string>Python</string>
				<string>Java</string>
				<string>Swift</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Currency</string>
			<key>question</key>
			<array>
				<string>Yen</string>
				<string>Pound</string>
				<string>Euro</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Metals</string>
			<key>question</key>
			<array>
				<string>Gold</string>
				<string>Silver</string>
				<string>Zinc</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Hello</string>
			<key>question</key>
			<array>
				<string>Hola</string>
				<string>Konnichiwa</string>
				<string>Zdravstvuyte</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>solution</key>
			<string>Friends</string>
			<key>question</key>
			<array>
				<string>Rachel</string>
				<string>Joey</string>
				<string>Monica</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>SNL</string>
			<key>question</key>
			<array>
				<string>Dan Aykroyd</string>
				<string>Tina Fey</string>
				<string>Will Ferrell</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>best picture</string>
			<key>question</key>
			<array>
				<string>Gigi</string>
				<string>Annie Hall</string>
				<string>Spotlight</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Avengers</string>
			<key>question</key>
			<array>
				<string>Hulk</string>
				<string>Iron Man</string>
				<string>Captain America</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Looney Tunes</string>
			<key>question</key>
			<array>
				<string>Daffy</string>
				<string>Tweety</string>
				<string>Road Runner</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Musicals</string>
			<key>question</key>
			<array>
				<string>Cats</string>
				<string>Pippin</string>
				<string>Hamilton</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>solution</key>
			<string>Tennis</string>
			<key>question</key>
			<array>
				<string>net</string>
				<string>love</string>
				<string>Williams</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Volleyball</string>
			<key>question</key>
			<array>
				<string>pancake</string>
				<string>sand</string>
				<string>bump</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Gymnastics</string>
			<key>question</key>
			<array>
				<string>Vault</string>
				<string>Bars</string>
				<string>Beam</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>triathlon</string>
			<key>question</key>
			<array>
				<string>Swimming</string>
				<string>Cycling</string>
				<string>Running</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>winter olympics</string>
			<key>question</key>
			<array>
				<string>Vancouver</string>
				<string>Sochi</string>
				<string>Salt Lake City</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>solution</key>
			<string>Tables</string>
			<key>question</key>
			<array>
				<string>Pool</string>
				<string>Card</string>
				<string>Picnic</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Reflect</string>
			<key>question</key>
			<array>
				<string>Satellite</string>
				<string>Mirror</string>
				<string>Reminiscent Person</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Filled</string>
			<key>question</key>
			<array>
				<string>A cavity</string>
				<string>A doughnut</string>
				<string>A prescription</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Bags</string>
			<key>question</key>
			<array>
				<string>Tea</string>
				<string>Doggy</string>
				<string>Duffel</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Trunks</string>
			<key>question</key>
			<array>
				<string>A car</string>
				<string> A tree</string>
				<string>An elephant</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Worms</string>
			<key>question</key>
			<array>
				<string>Earth</string>
				<string>Book</string>
				<string>Inch</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>Cards</string>
			<key>question</key>
			<array>
				<string>Greeting</string>
				<string>Credit</string>
				<string>Library</string>
			</array>
		</dict>
		<dict>
			<key>solution</key>
			<string>tuned</string>
			<key>question</key>
			<array>
				<string>Radio</string>
				<string>Car Engine</string>
				<string>Piano</string>
			</array>
		</dict>
	</array>
</array>
</plist>
